In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName("DataFrame FIlter").getOrCreate()

In [8]:
df_pyspark = spark.read.csv("filter.csv", header=True, inferSchema=True)
df_pyspark.show()

+-------+---+----------+-------+
|   Name|Age|Experience| Salary|
+-------+---+----------+-------+
| Faisal| 23|         2|1200000|
|  Imran| 28|         5| 800000|
| Zishan| 33|        10|1000000|
|Aayesha| 21|         1| 600000|
| Habiba| 20|         0| 500000|
|  Hajra| 24|         1| 450000|
| Nashra|  2|         0|      0|
| Zainab|  1|         0|      0|
+-------+---+----------+-------+

In [20]:
#Filtering the row
df_pyspark.filter("(Salary<=100000) and (Age <10)").show()
df_pyspark.filter((df_pyspark["Salary"]>100000) | ( df_pyspark["Age"] > 5)).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Nashra|  2|         0|     0|
|Zainab|  1|         0|     0|
+------+---+----------+------+

+-------+---+----------+-------+
|   Name|Age|Experience| Salary|
+-------+---+----------+-------+
| Faisal| 23|         2|1200000|
|  Imran| 28|         5| 800000|
| Zishan| 33|        10|1000000|
|Aayesha| 21|         1| 600000|
| Habiba| 20|         0| 500000|
|  Hajra| 24|         1| 450000|
+-------+---+----------+-------+

In [17]:
#Filtering the row and further selection
df_pyspark.filter("Salary<=100000").select(["Name", "Age"]).show()

+------+---+
|  Name|Age|
+------+---+
|Nashra|  2|
|Zainab|  1|
+------+---+